:root {
    --primary-color: #4CAF50;
    --secondary-color: #f44336;
    --background-color: #000000;
    --text-color: #ffffff;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    margin: 0;
    padding: 20px;
}

#memesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
}

.meme-card {
    background-color: #1e1e1e;
    border: 0.5px solid #292929;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
    transition: transform 0.2s;
}

.meme-card:hover {
    transform: scale(1.02);
}

.meme-card h3 {
    margin: 0;
    padding: 10px;
    background-color: #2c2c2c;
    border-bottom: 0.5px solid #292929;
}

.meme-card p {
    padding: 10px;
    margin: 0;
}

.meme-card img {
    width: 100%;
    height: auto;
    display: block;
}

